<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <Resource
        auth = "Container"
        driverClassName = "org.postgresql.Driver"
        maxIdle = "10"
        maxTotal = "20"
        maxWaitMillis = "-1"
        name = "jdbc/virtualpetsDB"
        password = "postgres"
        type = "javax.sql.DataSource"
        url = "jdbc:postgresql://localhost:5432/postgres?currentSchema=virtualpets_server_springframework"
        username = "postgres"/>
    
    <Environment
        name = "virtualpets-server-springframework.servers.url"
        value = "http://virtualpets.urvanov.ru/virtualpets-server-springframework/site"
        type = "java.lang.String"
        override = "false" />
    <Environment
        name = "virtualpets-server-springframework.servers.name"
        value = "Русскоязычный основной"
        type = "java.lang.String"
        override = "false" />
    <Environment
        name = "virtualpets-server-springframework.servers.locale"
        value = "ru"
        type = "java.lang.String"
        override = "false" />
        
    <Environment
        name = "virtualpets-server-springframework.mail.server"
        value = "realsmtphost"
        type = "java.lang.String"
        override = "false" />
    <Environment
        name = "virtualpets-server-springframework.mail.port"
        value = "587"
        type = "java.lang.Integer"
        override = "false" />
    <Environment
        name = "virtualpets-server-springframework.mail.username"
        value = "realusername"
        type = "java.lang.String"
        override = "false" />
    <Environment
        name = "virtualpets-server-springframework.mail.password"
        value = "realpassword"
        type = "java.lang.String"
        override = "false" />
    
    <Parameter
        name = "spring.profiles.active"
        value = "production"
        override = "false"/>
</Context>