
.header {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.menu {
    background: #eee;
    position: relative;
    float: left;
    left: 0px;
    width: 220px;
    margin-right: 15px;
    padding: 1px 5px 1px 5px;
}

.menu ul {
    list-style: none;
    background-color: #eee;
}

.menu a {
    display: block;
    color: #666666;
    text-decoration: none;
    padding: 15px;
    margin: 0px;
}

.menu a:hover {
    background-color: #fff;
}

@media screen and (max-width: 540px) {

  .menu {
      float: none;
      width : auto;
  }
  .menu ul {
    display : inline;
    padding: 1px;
  }
  
  .menu ul li {
    display : inline;
  }
  
  .menu a {
    display : inline;
    padding: 1px 5px 1px 5px;
  }
  
  .header {
    display : none;
  }
}

.body {
    overflow: hidden;
    display: box;
    font-size: 1em;
    font-family: "Times New Roman";
    text-indent: 20px;
}

.body>#main>p:first-of-type::first-letter {
    font-size: 2em;
    font-family: fantasy;
}

.footer {
    margin-top: 15px;
    border-top: 1px dashed #999999;
}


table {
    margin: 2px 0 0 0;
    border: 1px solid;
    border-collapse: collapse;
    width: 100%
}

table td,table th {
    padding: 2px;
    border: 2px solid;
}

table th {
    font-size: 0.9em;
    text-align: left;
    font-weight: bold;
}

table thead {
    font-weight: bold;
    font-style: italic;
}
